@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #5a175d;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}